<div id="nav">
    <!-- <a [routerLink]="['/']"></a> -->
    <h2><span><i class="fas fa-leaf"></i></span></h2>
    <ul>
        <!-- <li>Navegador</li> -->
        <!-- <a [routerLink]="['/']"></a> -->
        <span>Home</span>
        <a [routerLink]="['contador']"><span>Contador</span></a>
        <a [routerLink]="['grid']"><span>Grid</span></a>
        <a [routerLink]="['popup']"><span>Popup</span></a>        
        <a [routerLink]="['polaroid']"><span>Polaroid</span></a>
        <a [routerLink]="['tareas']"><span>To do</span></a>
    </ul>
</div>
<div id="texto">
    <span id="span">· This is mi first Angular Proyect ·</span>  
</div>
